blinker==1.8.2
click==8.1.7
environs==9.5.0
Flask==3.0.3
grpcio==1.66.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.22.0
milvus-lite==2.4.10
numpy==2.1.1
packaging==24.1
pandas==2.2.3
protobuf==5.28.2
pymilvus==2.4.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
tqdm==4.66.5
tzdata==2024.1
ujson==5.10.0
Werkzeug==3.0.4
